@import url('https://fonts.googleapis.com/css?family=Roboto');



div {
 float: left;
 margin: 50px;
 border: 5px solid salmon;
}


img {
 height: 200px;
}

h1 {
 text-align: center;
 font-family: 'Roboto'
}
#nav {
 display: flex;
 margin: auto;
}
#nav div {
 padding: 25px;
 font-family: 'Roboto'
}
select {
 float: left;
} */
